@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    src: url(../font/FontsFree-Net-SFProDisplay-Bold.ttf);
    font-family: "SF-Pro-Display-Bold", sans-serif;
    font-weight: normal;
    font-style: normal;

}

@font-face {
    src: url(../font/FontsFree-Net-SFProDisplay-Light.ttf);
    font-family: "SF-Pro-Display-Light", sans-serif;
    font-weight: normal;
    font-style: normal;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root {

    --heading-1: 20px;
    --heading-2: 24px;
    --heading-3: 20px;
    --heading-4: 16px;
    --heading-5: 14px;
    --tt-font-size--primary: 30px;
    --tt-font-size--secondary: 14px;
    --tt-font-size--success: 16px;
    --tt-font-size--danger: 18px;
    --tt-font-size--warning: 15px;
    --tt--bg--primary: #171719;
    --tt--bg--secondary: #fff;
    --tt--bg--success: #F5F5F5;
    --tt--bg--danger: #ECECEC;
    --tt--bg--warning: #9EA0A8;
    --tt--bg--opacity: rgba(0, 0, 0, 0.445);
    --tt--color-text--primary: #171719;
    --tt--color-text--secondary: #BABCC3;
    --tt--color-text--success: #fff;
    --tt--color-text--danger: #84848E;
    --tt--color-text--price: #555562;
    --tt--font-family--l: 'Lato', sans-serif;
}

.ff-Montserrat {
    font-family: "Montserrat", sans-serif;

}

.d-flex {
    display: flex;
}

.fl--jc-center {
    justify-content: center !important;
}

.fl--al-center {
    align-items: center !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.p-absolute {
    position: absolute;
}

.p-relative {
    position: relative !important;
}

body {
    font-size: 14px;
    font-family: "SF-Pro-Display-Light", sans-serif;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding-left: 0;
}

h1,
p,
ul,
li,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}




.slider_home {
    position: relative;
    height: 760px;
    overflow: hidden;
}

.contac__header {
    bottom: 15px;
    position: absolute;
    color: #fff;
    z-index: 30;
    right: 35px;
    display: flex;
    width: 78%;
    justify-content: center;
    max-width: 1538px;
}

.contac__header-li {
    position: relative;
    padding-left: 50px;
    -webkit-font-smoothing: antialiased;
}

.box__slider3 {
    position: absolute;

    left: 35px;
    margin: 0 auto;
    margin-top: 100px;
    width: 260px;
    height: 260px;
    transform: translate(0, 100%) rotate(-45deg);
    overflow: hidden;
    z-index: 4;
    box-sizing: border-box;
    border: 10px solid #FDFDFC;
    left: 40px;
    top: 106px;
}

.box__slider2::before,
.box__slider3::before {
    content: "";
    inset: 0;
    z-index: 4;
    position: absolute;
}

.wapper__slider2 {
    max-width: 100%;
    transform: rotate(-45deg) scale(1.42);
}

.box__slider2 {
    width: 330px;
    height: 330px;
    transform: rotate(45deg);
    position: absolute;
    top: 75px;
    z-index: 10;
    left: -45px;
    overflow: hidden;
    z-index: 22;
    box-sizing: border-box;
    border: 10px solid #FDFDFC;
}


.wapper__slider3 {
    max-width: 100%;
    transform: rotate(45deg) scale(1.42);
}

.slide__content-title {
    color: #ffffff;
    display: inline;
    font-size: 40px;
    font-weight: 400;
    font-family: "Montserrat";
    letter-spacing: 3.2px;
    line-height: 76.8px;
    text-align: right;
    text-transform: uppercase;
    user-select: none;
    font-weight: bold;
}

.slide__content_link {
    display: none;
}

.slide-content {
    max-width: 500px;
    text-align: right;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0, -50%);
    z-index: 2;
    text-align: left;
}

.slide__content_dace {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-align: left;
}

.slider__home2 {
    position: absolute;
    inset: 0;
    overflow: hidden;
    /* height: 760px; */
}

.slide-diamond-cream-2 {
    display: block;
    width: 360px;
    height: 360px;
    background-color: #de5835;
    position: absolute;
    left: 40px;
    margin: 0 auto;
    transform: translate(0,50%) rotate(45deg);
    transform-origin: top left;
    overflow: hidden;
    border: 10px solid #FDFDFC;
    z-index: 2;
    bottom: 40px
}

.slider__home2>.container {
    width: 100%;
    height: 100%;
}

.item__slider1 img {
    height: 100%;
    width: 100%;
    height: 760px;
}

.wapper__slider2 {
    animation: imageScaleAnimation2 20s infinite ease;
}

.wapper__slider3 {
    animation: imageScaleAnimation3 20s infinite ease;
}

.wapper__slider1 {
    animation: imageScaleAnimation 20s infinite ease;
}


.slider_home1 {
    overflow: hidden;
    height: 760px;
    position: relative;
}

.slide-diamond-cream-1 {
    display: block;
    width: 100px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 110px;
    margin: 0 auto;
    transform: translate(100%,50%) rotate(45deg);
    transform-origin: top left;
    overflow: hidden;
    z-index: 3;
}

.nav__menu-a {
    color: #ffffff;
    font-family: "SF-Pro-Display-Light", sans-serif;
    font-size: 12px;
    padding: 1px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
}

.header__desktop {
    position: relative;
    padding-block: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ul.nav__menu-ul {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.header__logo {
    flex: 0 0 75px;
    /* background-color: #0000006e; */
    margin-right: 40px;
    position: absolute;
    left: -90px;
    top: 20px;
    width: 75px;
}

.nav__menu_info {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.nav__menu-li {
    padding-inline-start: 60px;
}

.nav__menu_info-a {
    color: #fff;
    display: inline;
    font-family: "SF-Pro-Display-Light", sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
}


.nav__menu_info-li {
    /* padding-right: 20px; */
    padding-inline: 15px;
    position: relative;
}

.nav__menu_info-li::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 1px;
    background: #ffffff;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.nav__menu_info-li:last-child:before {
    display: none;
}

.nav__menu_info-li:last-child {
    padding-right: 0;
}

.nav__line {
    height: 1px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 33px;
    background: #ffffff2b;
}

.slider_home1::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #00000052;
    z-index: 1;
}
.slider_home1::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;
    background: rgb(19,64,78);
background: linear-gradient(180deg, rgba(19,64,78,0) 0%, rgba(19,64,78,1) 100%);
}

.nav__menu_li-icon {}

.nav__menu_a-icon {
    font-size: var(--heading-5);
    margin-left: 10px;
    cursor: pointer;
}

.nav__menu_a-icon i {
    top: 2px;
}

.nav__menu_a-icon:first-child {
    margin-left: 0;
}

.header {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 20;
}

.slide-diamond-blue {
    display: block;
    width: 1000px;
    height: 1000px;
    background-color: #fff;
    position: absolute;
    top: 752px;
    left: -550px;
    margin: 0 auto;
    transform: rotate(225deg);
    transform-origin: top left;
    overflow: hidden;
    z-index: 21;
}

.slide-diamond-copper {
    display: block;
    width: 360px;
    height: 500px;
    background-color: #13404ede;
    position: absolute;
    top: 200px;
    left: -113px;
    margin: 0 auto;
    transform: rotate(45deg);
    transform-origin: top left;
    overflow: hidden;
    border: 10px solid #FDFDFC;
    z-index: 3;
}

.header-social {
    position: absolute;
    right: 40px;
    bottom: 75px;
    z-index: 15;
    color: #fff;
    font-size: 18px;
}

.header-social::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 75px;
    background: #fff;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
}

.scroll-down {
    position: absolute;
    bottom: 15px;
    right: 70px;
    z-index: 15;
    animation: scroll_down 2.5s infinite ease-in-out;

}

.social__li {
    line-height: 25px;
}

.proinput {
    position: absolute;
    bottom: -5px;
    right: 0;
    transform: translate(0, 200%);
    width: 250px;
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
}

.proinput.active {
    transform: translate(0, 100%);
    opacity: 1;
    visibility: visible;
}

.proinput_input {
    width: 100%;
    height: 28px;
    padding-inline: 10px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
}

.icon__search {
    position: absolute;
}

.nav__menu_a-icon .icon__search {
    right: 8px;
    z-index: 10;
    color: #000;
    top: 50%;
    transform: translateY(-45%);
    font-size: 17px;

}

.slide__content_link-a {
    background-color: #ffffff;
    color: #758592;
    display: flex;
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 2.6px;
    line-height: 13px;
    margin: 10px 0px 0px 279.555px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
    justify-content: flex-start;
    position: relative;
}

.slide__content_link-a::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-45%);
    width: 20px;
    height: 1px;
    background-color: #758592;
}


.slide__content_link-a:hover {
    /* border-color: #000000; */
    color: #fff;
    background-color: #9F662D;

}

.slide__content_link_a-icon {
    color: #758592;
    position: absolute;
    font-size: 14px;
    top: 50%;

    transform: translateY(-47%);
    transition: 0.3s;
    visibility: hidden;
    right: 25px;
    opacity: 0;
}

.slide__content_link_a-icon::before {

    content: "";
    width: 10px;
    height: 0.7px;
    background-color: #758592;
    position: absolute;
    top: 50%;
    left: 1px;
    transform: translate(-100%, -90%);
}

.slide__content_link-a:hover .slide__content_link_a-icon {
    visibility: visible;
    right: 13px;
    opacity: 1;
    color: #fff;
}

.slide__content_link-a:hover .slide__content_link_a-icon::before {
    background: #fff;
}

.close__menu_mobi,
.nav__menu_mobi-ul,
.header_mobi {
    display: none;
}

.header__logo {
    position: absolute;
    left: -36px;
    top: 20px;
    width: 75px;
}

.header__logo2 {
    left: 0;
    z-index: 21;
    position: absolute;
    left: -20px;
    top: 25px;
    width: 60px;

}

.header__logo1 {
    display: none;
}

.nav__menu_a-icon img {
    width: 20px;
}

.section1-title {
    color: #9f662d;
    font-size: 36px;
    font-weight: 300;
    line-height: 43.2px;
    margin: 0px 0px 30px;
    text-align: left;
    text-transform: uppercase;
}

.section1-desc {
    color: #243746;
    font-size: 18px;
    line-height: 29.7px;
    margin: 0px 0px 26px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}
.section1__box {
    flex-basis: 50%;
}
.section1__content {
    display: flex;
    flex-wrap: wrap;
}
.section1__item-img {
    position: absolute;
    right: 0;
    top: 0;
}
.section1__item-img img {
    height: 541px;
    width: 713px;
}
.section__1 {
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
}
@keyframes scroll_down {
    0% {
        bottom: 50px;
        opacity: 0;
    }

    95% {
        bottom: 15px;
        opacity: 1;
    }

    100% {
        bottom: 21px;
        opacity: 0;
    }
}

@keyframes imageScaleAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);

    }
}

@keyframes imageScaleAnimation2 {
    0% {
        transform: rotate(-45deg) scale(1.42);
    }

    50% {
        transform: scale(1.52) rotate(-45deg);
    }

    100% {
        transform: scale(1.42) rotate(-45deg);

    }
}

@keyframes imageScaleAnimation3 {
    0% {
        transform: scale(1.42) rotate(45deg);
    }

    50% {
        transform: scale(1.52) rotate(45deg);
    }

    100% {
        transform: scale(1.42) rotate(45deg);

    }
}

@media (min-width: 1401px) {}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1200px) {

    .container {
        max-width: 960px;

    }

    /* .header__desktop {
        display: none;
    } */
    ul.nav__menu-ul {
        transform: translateX(100%);
        transition: 0.5s;
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 99;
        width: 300px;
        right: 0;
        display: block;
        background: #b08e42;
        color: #000;
    }


    ul.nav__menu-ul.active {
        transform: translateX(0);
    }

    .nav__menu_mobi-ul {
        color: #fff;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 15px;
    }

    .header__desktop {
        max-width: 650px;
        margin-right: 0;
        margin-left: auto;
        justify-content: flex-end;
    }

    .header {
        top: 0;
    }

    .header__logo2 {
        left: 2px;
        top: 12px;
    }

    .nav__menu-li {
        padding-inline: 15px;
        margin-bottom: 5px;
    }

    .nav__menu_mobi-ul {
        display: flex;
    }

    .header_mobi {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    .header_mobi img {
        width: 90px;
    }

    .nav__menu-a {
        /* color: #000; */
        display: block;
        line-height: 30px;
    }

    .nav__menu_mobi-ul .nav__menu-a {
        color: #fff;
    }

    .nav__menu-ul li:last-child {
        display: none !important;
    }

    .header_mobi {
        display: block;
    }

    .close__menu_mobi {
        display: block;
        font-size: 20px;
        color: #ffffff;
        position: absolute;
        top: 5px;
        right: 5px;
    }
}

@media screen and (max-width: 991px) {
    .proinput {
        right: 25px;
    }

    .container {
        max-width: 720px
    }

    .slide-diamond-cream-1,
    .slide-diamond-blue,
    .slide-diamond-copper,
    .wapper__slide-small {
        display: none;
    }

    ul.nav__menu-ul {
        right: unset;
        left: 0;
        transform: translateX(-100%);
    }

    .slide-content {
        text-align: center;
    }

    .slide__content_link-a {
        margin-inline: auto;
        max-width: 200px;
        padding: 19px 13px;
        margin-top: 20px;
    }

    .slide__content_link_a-icon::before {
        display: none;
    }

    .slide__content-title {
        font-size: 40px;
        letter-spacing: 2.4px;
        line-height: 57.6px;
        margin: 0px 0px 8px;
        text-align: center;
        text-transform: uppercase;
    }

    .slide__content_link-a:hover::before {
        background: #fff;
    }

    .header>.container {
        max-width: 100%;
        margin-inline: 15px;
        width: auto;
    }

    .header__desktop {
        max-width: 100%;
        justify-content: space-between;
    }

    .header__logo1 {
        position: static;
        display: block;
    }

    .nav__line {
        width: 80%;
    }

    .slider_home1 {
        height: 500px;
    }

    .item__slider1 img {
        height: 500px;
    }

    .slide-content {
        max-width: 500px;
        text-align: center;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        width: 500px;
    }

    .slide-diamond-cream-2 {
        display: none;
    }

    .header__logo2 {
        display: none;
    }

    .slide__content_dace {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px
    }

    .header {
        top: 5px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%
    }

    .nav__menu_info-li {
        padding-inline: 10px;
    }

    .header__logo {
        flex: 0 0 60px;
    }

    .slide__content_dace {
        line-height: 21px;
        margin-top: 15px;
    }

    .slide-content {
        max-width: 100%;
        padding-inline: 20px;
    }

    .slide__content-title {
        font-size: 35px;
        line-height: 42px;
    }

    .proinput {
        right: 15px;
        bottom: 10px;
    }

    .slide__content-title>span {
        font-weight: 400;
    }

    .header-social {
        right: 20px;
        bottom: 55px;
    }

    .scroll-down {
        right: 50px;
    }

    .proinput_input {
        height: 30px;
    }

}

@media screen and (max-width: 400px) {}